@import url('https://fonts.googleapis.com/css?family=Raleway');

.account-summary{
    font-size: 1.5em;  
    padding: 2%;  
    color: white;
    font-family: 'Raleway';
}

.account-summary-card {
    display: flex;
    /* margin: auto; */
    font-size: 1em;
    padding: 0.5em 0.5em;
    /* align-items: center */
    flex-wrap: wrap;
    /* width: 15vh;
    max-height: 15vh; */
}

.account-summary-card .profile-card {
    height: 30vh;
    width: 20vh;
    padding: 5px;
    margin: 1% auto;
}

.account-summary-card .profle-image {
    width: 15vh;
    max-height: 10vh;
    padding: 2px;
}

.show-trips-header {
    font-family: Raleway;
    font-size: 2em;
    color: white;
}

.account-summary-trip-card .trip-card {
    height: 42vh;
    width: 20vh;
    margin: 10px;
   
}

.account-summary-trip-card {
    display: flex;
    justify-content: center;    /* margin: auto; */
}

/* .profile-card {
    margin: 3%;
    outline: 2px solid black;
    border-radius: 10px;
    height: 35vh;
    width: 30vh;
    padding: 10px;
    background-color: white;
    margin: 2% auto;
    font-family: Raleway;
}

.profile-image {
    width: 20vh;
    max-height: 25vh;
    padding: 5px;
} */

.points-summary {
    color: white;
    margin: 5px;
}