@import url('https://fonts.googleapis.com/css?family=Raleway');

.create-header{
    font-size: 2em;
    padding: 10px;
    margin: 5px;
    color: #363636;
}
.add-form {
    outline: 2px solid #00ffff;
    width: 50%;
    margin: 5% auto;
    border-radius: 10px;
    font-size: .75em;
    background-color: #00ffff;
    font-family: raleway;
    padding: 10px;
    
}

.add-profile-btn {
    display: inline-block;
    color: #363636;
  
    width: 220px;
    height: 60px;
  
    padding: 0 20px;
    background: white;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 5% auto;
    letter-spacing: 0.05em;
    font-size: 1.5em;
}

.add-rpofile-btn:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
.add-profile-btn:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

input[class="form-input"]{
    width: 35%;
    height: 10%;
  
    margin-top: 2%;
    padding: 4%;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #363636;
  
    outline: none;
    border: none;
  
    border-radius: 5px 5px 5px 5px;
    transition: 0.2s linear;
}

input[id="name"] {
    width: 250px;
    text-align: center;
    /* font-size: 1.5em; */
    color: #363636;
}
input[id="image"] {
    width: 250px;
    text-align: center;
    /* font-size: 1.5em; */
    color: #363636;
}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}



