.App {
  text-align: center;
}

/* .logout-btn {
  border-radius: 5px;
  margin: 1%;
  background-color: white;
} */

body {
  background-color: #2f4454;
}

/* body{
  background: url(https://prod-virtuoso.dotcmscloud.com/dA/188da7ea-f44f-4b9c-92f9-6a65064021c1/heroImage1/PowerfulReasons_hero.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
} */
