.browse-card{
    outline: 2px solid black;
    margin: 2% auto;
    border-radius: 10px;
    padding: 10px;
    width: 25%;
    background-color: white;
}

.hotel-search {
    margin-top: 1.5%;
    width: 40%;
    /* height: 30%; */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.browse-cards {
    display: flex;
    flex-wrap: wrap;
}