.browse-card{
    outline: 2px solid black;
    margin: 2% auto;
    border-radius: 10px;
    padding: 10px;
    max-width: 45%;
    background-color: white;
}

.hotel-search {
    margin-top: 1.5%;
    width: 30%;
    /* height: 30%; */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}