@import url('https://fonts.googleapis.com/css?family=Raleway');

.home {
    font-size: 2em;
    padding: 1%;
    outline: 2px solid #f8ec83;
    margin: 2% auto;
    max-width: 60%;
    border-radius: 10px;
    background-color: #9da0a3;
    /* background-color: #70767c; */
    color: white;
}

.home-title {
    font-size: 1.5em;
    padding: 5%;
    color: white;
    font-family: Raleway;
}

/* html .home {
    background: url(https://prod-virtuoso.dotcmscloud.com/dA/188da7ea-f44f-4b9c-92f9-6a65064021c1/heroImage1/PowerfulReasons_hero.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(10px); 
} */

/* .login-text {
    font-size: 1.5em;
} */