@import url('https://fonts.googleapis.com/css?family=Raleway');

.login-form {
    outline: 2px solid #da7b93;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    font-size: .75em;
    background-color: #da7b93;
    font-family: raleway;
}

.login-header {
    margin: 5px;
    padding: 10px;
}

input[class="form-input"]{
    width: 35%;
    height: 10%;
  
    margin-top: 2%;
    padding: 4%;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 5px 5px 5px 5px;
    transition: 0.2s linear;
    
}
input[id="txt-input"] {
    width: 250px;
    text-align: center;
}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.login-btn {   
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.login-btn:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
.login-btn:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
