@import url('https://fonts.googleapis.com/css?family=Raleway');

.log {
    border-radius: 5px;
    margin: 4px;
    background-color: white;
}

.account {
    font-size: .75em;
    font-family: 'Raleway';
}

.already {
    /* color: white; */
    font-family: Raleway;
    font-size: .75em;
}