@import url('https://fonts.googleapis.com/css?family=Raleway');

.form {
    font-family: 'Raleway';
    background-color: white;
}


.form-rows {
    margin: 5px;
}

input[class="trip-form-input"]{
    width: 35%;
    height: 10%;
  
    margin-top: 2%;
    padding: 1%;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: solid #f8ec83;
    border: none;
  
    border-radius: 5px 5px 5px 5px;
    transition: 0.2s linear;
    
}
input[id="name"] {
    width: 250px;
    text-align: center;
}
input[id="location"] {
    width: 250px;
    text-align: center;
}
input[id="date_start"] {
    width: 250px;
    text-align: center;
}
input[id="date_end"] {
    width: 250px;
    text-align: center;
}
input[id="hotel_id"] {
    width: 250px;
    text-align: center;
}
input[id="profile_id"] {
    width: 250px;
    text-align: center;
}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.save-btn {   
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #f8ec83;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.save-btn:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
.save-btn:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.div-container {
    display: flex;
    align-items: center;
    justify-content: center;
}