@import url('https://fonts.googleapis.com/css?family=Raleway');

.cards-temp-added .trip-card {
    outline: 2px solid #00ffff;
    margin: 25px 25px 25px 25px auto;
    /* margin: auto; */
    border-radius: 10px;
    padding: 10px;
    width: 70vh;
    /* background-color: white; */
    height: 60vh;
}

.trip-card img {
    max-width: 20vh;
    min-height: 20vh;
    padding: 5px;
}

.my-trips-trip-card .trip-card {
    height: 42vh;
    width: 25vh;
    margin: 10px;
}

.my-trips-trip-card {
    justify-content: center;
}

.trips-section {
    margin-top: 2%;
    
}

.my-trips-trip-card {
    display: flex;
}

.cards-temp-added {
    display: flex;
    height: 50%;
    flex-wrap: wrap;
}

.page-divider {
    height: 30%;
    width: 90%;
    background-color: white;
}

.posted-trips {
    font-family: Raleway;
    color: white;
    font-size: 2em;
}