@import url('https://fonts.googleapis.com/css?family=Raleway');

a:visited{
    text-decoration: none; 
    color: black;
}

.nav-bar {
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin: auto;
    outline: 2px solid black;
    padding: 0.5em 0.5em 0.5em;
    border-radius: 5px;
    background-color: #da7b93;
    font-family: Raleway;
    color: black;
    text-decoration: none; 
}

.home-link:hover {
   /* font-weight: bold; */
   box-shadow: 2px 2px 2px 2px white;
}