.profile {
    display: flex;
    /* margin: auto; */
    font-size: 1em;
    padding: 0.5em 0.5em;
    /* align-items: center */
    flex-wrap: wrap;
}

.add-btn {
    height: 10em;
    width: 10em;
    border-radius: 10px;
    background-color: white;
}

.select-profile {
    margin: 10px;
}