.see-details-btn {
    display: inline-block;
    color: #252537;
  
    width: 18vh;
    height: 4vh;
  
    padding: 0 20px;
    background: #00ffff;
    border-radius: 5px;
    
    outline: 2px solid #00ffff;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 1% auto;
    letter-spacing: 0.05em;
    font-size: .7em;
}

.see-details-btn:hover {
    background-color: #fff;
    outline: 2px solid #00ffff;
}

.logout-btn:hover {
    transform: translatey(3px);
    box-shadow: none;
  }
  
  /* buttons hover Animation */
  .see-details-btn:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
  }
  @keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
  }

/* .see-details {
    border-radius: 5px;
    margin-bottom: 1%;
    font-size: .8em;
    background-color: white;
    transition: background-color .3s;
} */