.see-details {
    border-radius: 5px;
    margin-bottom: 1%;
    font-size: .8em;
    background-color: white;
    transition: background-color .3s;
}

.see-details:hover {
    background-color: #da7b93;
}