@import url('https://fonts.googleapis.com/css?family=Raleway');

.signup-form {
    outline: 2px solid #f8ec83;
    width: 55%;
    margin: auto;
    border-radius: 10px;
    font-size: .75em;
    background-color: #f8ec83;
    font-family: raleway;
}

.log {
    border-radius: 5px;
    margin: 4px;
    background-color: white;
}

.create-account-header {
    padding: 10px;
}