@import url('https://fonts.googleapis.com/css?family=Raleway');

.trip-card {
    margin: 3%;
    outline: 2px solid black;
    border-radius: 10px;
    height: 30vh;
    width: 20vh;
    padding: 5px;
    background-color: white;
    margin: 2% auto;
    font-family: Raleway;
    outline: 2px solid #00ffff; 
}

.profile-name {
    font-size: 1.5em;
}